<div class="row justify-content-center p-5">
  <div class="row col-12 text-center p-5">
    <button style="color: white" routerLink="/" class="btn btn-info col-1">
      HOME
    </button>
    <div class="col-1"></div>
    <button style="color: white" routerLink="/atelier1exercice2" class="btn btn-dark col-2">
        atelier 1 : exercice 2
    </button>
    <h1 class="col-6">Jallouli Yassine 4TWIN7</h1>
  </div>

  <div class="row col-12 p-5">
    <h1>atelier 1 : exercice 1</h1>
  </div>

  <div [hidden]="hide" class="row p-5">

    <ul class="list-group">
      <li class="list-group-item"> {{idFournisseur}} </li>
      <li class="list-group-item"> {{code}} </li>
      <li class="list-group-item"> {{libelle}} </li>
    </ul>

  </div>
  <button *ngIf="!hide" style="color: white" (click)="changeStateToTrue()" class="btn btn-secondary col-1">
    cacher
  </button>

  <button *ngIf="hide" style="color: white" (click)="changeStateToFalse()" class="btn btn-success col-1">
        afficher
  </button>
  
</div>
