<div class="row justify-content-center">

  <div class="col-12 text-center pt-5">
    <h1>Jallouli Yassine 4TWIN7</h1>
  </div>

  <div class="row col-12 p-5">
    <button routerLink="atelier1" style="height: 100px; color: white;" class="btn btn-danger col-5">ATELIER 1 DATA BINDING</button>
    <div class="col-2"></div>
    <button routerLink="atelier2" style="height: 100px; color: white;" class="btn btn-danger col-5">ATELIER 2/4 (DATA BINDING)/(SERVICES)</button>

    <button routerLink="atelier3" style="height: 100px; color: white;" class="btn btn-danger col-5 mt-5">ATELIER 3 ROUTING</button>
    <div class="col-2"></div>

    <button routerLink="/user" style="height: 100px; color: white;" class="btn btn-danger col-5 mt-5">WORKSHOPS</button>

    <button routerLink="/test/parent" style="height: 100px; color: white;" class="btn btn-danger col-5 mt-5">WORKSHOPS 10 Interaction entre les composants</button>
    <div class="col-2"></div>

    <button routerLink="/test/parent" style="height: 100px; color: white;" class="btn btn-danger col-5 mt-5">RANDOM CODE FOR TEST</button>

  </div>
</div>
